.allrockets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
}

.rocket {
  margin: 1rem;
}

.rocket-info {
  margin: 1rem;
}

.rocket-info h1 {
  margin-bottom: 5px;
}

.rocket-img {
  width: 300px;
  height: 300px;
}

.rocket {
  display: flex;
}

.rocket-btn {
  padding: 5px;
  font-size: 20px;
  border-radius: 2rem;
  border: solid 1px rgb(58, 58, 214);
  cursor: pointer;
}

.rocket-btn:hover {
  background-color: rgb(204, 221, 235);
}

.desc-specs-container{
  width: 350px;
  height: 200px;
  margin-top: 10px;
}

.specs-container{
  margin-top: 10px;
}

span{
  font-size: 20px;
  font-weight: 600;
}